# macOS DS_Store
.DS_Store
./venv

alignment/files/*
alignment/tools/*
!alignment/*.sh
!alignment/requirements.txt
!alignment/*.md

dnazip/__pycache__/*
dnazip/code/__pycache__/*
dnazip/data/chr/*
dnazip/data/dbSNP/*
dnazip/data/original_paper_data/*
dnazip/data/vcf/*
dnazip/data/output/*
# !dnazip/data/output/csv/
dnazip/data/output/csv/*
dnazip/data/huffman_trees/*
dnazip/tools/*
dnazip/data/*

biocompress_1/data
biocompress_1/__pycache__


huffman_coding/__pycache__
huffman_coding/output

dnazip/data
