# macOS DS_Store
.DS_Store
./venv

dnazip/__pycache__/*
dnazip/code/__pycache__/*
dnazip/data/chr/chr*
dnazip/data/dbSNP/*
dnazip/data/original_paper_data/*
dnazip/data/vcf/*
dnazip/data/output*
biocompress_1/data

alignment/files/*
alignment/all2vcf*
alignment/*
!alignment/*.sh
!alignment/requirements.txt
!alignment/*.md