# macOS DS_Store
.DS_Store
./venv
venv
tools
genomes

alignment/files/*
alignment/tools/*
!alignment/*.sh
!alignment/requirements.txt
!alignment/*.md

dnazip/__pycache__/*
dnazip/code/__pycache__/*
dnazip/data/chr/*
dnazip/data/dbSNP/*
dnazip/data/original_paper_data/*
!dnazip/data/variants/vcf_files.zip
dnazip/data/output/chr
dnazip/data/output/csv/*
dnazip/data/huffman_trees/*
dnazip/data/variants/*
dnazip/data/output/chr/*
dnazip/data/output/*
dnazip/data/huffman_trees/*
dnazip/data/variants/*
dnazip/figures/*

biocompress_1/data
biocompress_1/__pycache__


huffman_coding/__pycache__
huffman_coding/code/__pycache__
huffman_coding/output

